{% extends "base.html" %}


{% block title %}
Gurgle - Translate
{% endblock %}


{% block content %}
<div class="container-fluid content">
    <h1>Gurgle Translait</h1>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="btn-group">
                <button type="button" class="btn btn-default">English</button>
                <button type="button" class="btn btn-default">Spanish</button>
                <button type="button" class="btn btn-default">Detect Language</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">French</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Russian</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h3>Translaishun</h3> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <textarea class="form-control" rows="4" id="translaitInput" value='{{ translaishun }}'></textarea>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p>{{ translaishun }}</p>
        </div>
    </div>
</div>
{% endblock %}
